<html>
<head>
    <meta charset="utf-8" />
    <title>圖文留言板練習</title>
    <link href="/index.css" rel="stylesheet" type="text/css" media="all" />
    <script defer src="/index.js"></script>
</head>
<body>
    <h1>圖文留言板</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
		<div class="dataInput">
			<label class="labelText" for="uploadtext">文字內容：</label>
			<input id="textinput" type="text" name="uploadtext" placeholder="請輸入文字" required />
		</div>
		<div class="dataInput">
		    <input id="fileinput" type="file" name="uploadfile" required />
			<div class="remindword">圖片檔案(接受png, jpg, jpeg, gif格式)</div>
		</div>
		<div class="dataInput">
			<button class="submitBtn" type="submit">送出</button>
		</div>
    </form>
    <main></main>
</body>
</html>